
<header id="header" class="header">

    <!--<button class="burger header__burger">
        <span></span>
        <span></span>
        <span></span>
    </button> -->
    <div class="header__top-line d-flex">
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header-menu__item"><a class="header-menu__link" data-title="Home" href="#header">Home</a></li>
                <li class="header-menu__item"><a class="header-menu__link" data-title="What we do?" href="#work">What we do?</a></li>
                <li class="header-menu__item"><a class="header-menu__link" data-title="Testimonial" href="#testi">Testimonial</a></li>
                <li class="header-menu__item"><a class="header-menu__link" data-title="Contact Us" href="#team">Contact Us</a></li>
            </ul>
        </nav>
        <a href="#header" class="header__logo">Switch</a>
        <label class="search header__search">
            <input type="search" placeholder="Search..." class="search__field rnd">
            <span class="search__icon"><i class="fa fa-search" aria-hidden="true"></i></span>
        </label>
    </div>
    <div class="header__heading-block">
        <h1 class="header__heading-text">Art is Eternal Happiness</h1>
        <a href="#" class="button header__heading-button">Work with us</a>
    </div>
    <a href="#work" class="button header__scroll-button rnd">scroll down<i class="fa fa-arrow-down" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></a>
</header>
