//  Variables

// Colors

$primary_color							: #54d154;

$white											: #ffffff;
$black											: #111111;
$dark												: #828181;
$grey												: #b7b3b3;

$icon_bg										: #e1f3e1;

$text_dark									: #444444;
$section_dark								: #333333;
$footer_bottom							: #222222;
$section_grey								: #f2f1f1;



$mobile-menu__text					: #ffffff;
$mobile-menu__bg						: #3f4147;



// Fonts

$primary_font								: $helvetica;

$MontserratBold							: 'MontserratBold', $helvetica;
$MontserratLight						: 'MontserratLight', $helvetica;
$NautilusPompiliusRegular		: 'NautilusPompiliusRegular', $helvetica;
$OpenSansLight							: 'OpenSansLight', $helvetica;
$ProximaNovaLight						: 'ProximaNovaLight', $helvetica;
$ProximaNovaRegular					: 'ProximaNovaRegular', $helvetica;
$ProximaNovaBold						: 'ProximaNovaBold', $helvetica;

$font-size-base: 10px;

$time: 0.3s;